<div class="row">
    <div class="col-md-4">
        <h3>Seleccione Archivos</h3>
        <div class="well drop-zoner text-center" [ngClass]="{'file-over': overDropDiv}" (mouseOnElement)="overDropDiv = $event" appNgDropFiles [dirFiles]="loadFiles">
            <h4>
                Deje caer aqui los archivos
            </h4>
            <img src="assets/drop-images.png">
        </div>
    </div>
    <div class="col-md-8">
        <h4>
            Cargar Archivos
        </h4>
        <button (click)="cargarImagenes()" [disabled]="loadFiles.length===0" class="btn btn-success ml-2">Cargar a Firebase</button>
        <button class="btn btn-danger ml-2" (click)="limpiarArchivos()">Limpiar</button>

        <table class="table">
            <thead class="thead=dark">
                <tr>
                    <th>
                        Nombre Archivo
                    </th>
                    <th>
                        Tamaño
                    </th>
                    <th>
                        Progreso
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let photo of loadFiles">
                    <td [ngClass]="{'text-green': photo.loaded}">
                        {{ photo.name }}
                    </td>
                    <td>
                        {{ (photo.file.size/1024/1024) | number:'.2-2' }} MB
                    </td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" [ngClass]="{'bg-success': !photo.loaded}" [ngStyle]="{ 'width': photo.progress + '%'}"></div>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>